  <!--ユーザーごとの画像を表示-->

<body>
  <h1>users index</h1>
      <div class="col-lg-8">
        <table class="table table-striped">
          <tr>
            <th>image</th>
            <th>name</th>
            <th></th>
            <th colspan="3"></th>
          </tr>
          <% @users.each do |user| %>
            <tr>
              <td><%= attachment_image_tag user, :profile_image, size: "40x40", format: 'jpeg',fallback: "no_image.jpg" %></td><!-- !!user.showへリンクしたい！！bookmodelに紐付けたuserのprofile_imageを表示します-->
              <td><%= user.name %></td>
              <td><%= link_to "Show", user_path(user.id) %></td><!-- !!user.showへリンクしたい！！bookmodelに紐付けたuserのprofile_imageを表示します-->
            </tr>
          <% end %>
        </table>
      </div>

