  <!--ユーザーごとの画像を表示-->
      <div class="container">
    <div class="row">
      <div class="col-xs-3">
        <%= render'books/sidebar', book: @book , user: @user %>
      </div>
      <div class="col-lg-9">
        <table class="table">
        <h2>Users</h2>
          <tr>
            <th>image</th>
            <th>name</th>
            <th></th>
          </tr>
          <% @users.each do |user| %>
            <tr>
              <td><%= attachment_image_tag user, :profile_image, size: "40x40", format: 'jpeg',fallback: "no_image.jpg" %></td><!-- !!user.showへリンクしたい！！bookmodelに紐付けたuserのprofile_imageを表示します-->
              <td><%= user.name %></td>
              <td><%= link_to "Show", user_path(user.id) %></td><!-- !!user.showへリンクしたい！！bookmodelに紐付けたuserのprofile_imageを表示します-->
            </tr>
          <% end %>
        </table>
      </div>

