  <div>
    <%= form_with model:@post_book, local:true do |f| %>
        <div>
          <p>Title</p>
          <%= f.text_field :title %>
        </div>
        <div>
          <p>Body</p>
          <%= f.text_area :body %>
        </div>
        <div>
          <%= f.submit 'Create Book' %>
        </div>
    <% end %>
  </div>
</body>