<p><strong>Title: </strong><%= @book.title %></p>
<p><strong>Body: </strong><%= @book.body %></p>
<p>
  <%= link_to "Edit", edit_book_path(@book) %>|<!--@モデル名で現在参照しているデータにとぶ-->
  <%= link_to "Back", books_path %>  <!--rake routes でurlがわかる-->
</p>
